<h1>this page shows users favorite list</h1>
this is your pawfect list:

  <% @establishments.each do |establishment| %>
  <div class="container">
    <div class="card img">
      <img src="<%= establishment.image %>">
    </div>
    <p><%= establishment.name %></p>
    <p><%= establishment.address %></p>
    <p></p><%= establishment.phone %>
    <p><em><%= establishment.location_type %></em></p>
  <%= button_to "Delete from my list", user_favorites_path(establishment), data: {turbo_method: :delete_from_list} %>
  </div>
</div>
<% end %>



<div class="icon">
      <%= button_to "Return" , root_path, :class => "btn btn-secondary",  :method => :get %>
</div>
