<div class="container">
  <h1>this is your pawfect list:</h1>

  <% @establishments.each do |establishment| %>
  <div class="container">
    <div class="card img">
      <img src="<%= establishment.image %>">
    </div>
    <p><%= establishment.name %></p>
    <div class="fav-btn">
      <% if current_user.favorited?(establishment) %>
      <%= button_to toggle_establishment_path(establishment), method: :post, style: "border:0; background-color:rgb(210, 210, 211)" do %>
        <img src="https://img.icons8.com/ios-filled/50/null/dog-paw-print.png" style="width: 30px; height: 30px"/>
      <% end %>
      <% else %>
      <%= button_to toggle_establishment_path(establishment), method: :post, style: "border:0; background-color:rgb(210, 210, 211)" do %>
        <img src="https://img.icons8.com/ios/50/null/dog-paw-print.png" style="width: 30px; height: 30px"/>
      <% end %>
      <% end %>
    </div>
    <p><%= establishment.address %></p>
    <p></p><%= establishment.phone %>
    <p><em><%= establishment.location_type %></em></p>
  </div>
  <% end %>
