<div id="navbar" class="navbar">

  <%= link_to root_path do %>
    <%= image_tag "bbf.png", class: "logo" %>
  <% end %>

  <%= image_tag "rainbow_wizard.gif", class: "wizard" %>

  <% if user_signed_in? %>
    <ul class="flex items-center justify-end">
      <%= render 'shared/navbar_dropdown' %>
    </ul>
  <% else %>
    <li >
      <%= link_to "Login", new_user_session_path, class: "nav-link" %>
    </li>
  <% end %>

<div class="banner">
  <% if current_user.present? && (request.path == root_path || (@establishment.try(:path) == request.path)) && !request.path.include?("favorites") && !request.path.include?("new") %>
    <% current_hour = Time.now.hour %>
    <% if current_hour < 12 %>
      <h1>Good morning, <%= @user.username %>!</h1>
    <% elsif current_hour < 17 %>
      <h1>Good afternoon, <%= @user.username %>!</h1>
    <% else %>
      <h1>Good evening, <%= @user.username %>!</h1>
    <% end %>
  <% end %>
</div>
  <div>
  <%= turbo_frame_tag 'turbo-list', data: { turbo_action: 'advance' } do %>
    <div class="container-icons icon-background">
      <%= link_to root_path(location_type: "cafe"), class: "nav-link" do %>
        <div class="icon">
          <i class="fa-solid fa-mug-saucer"></i>
          <p>Cafe</p>
        </div>
      <% end %>

      <%= link_to root_path(location_type: "bar") do %>
        <div class="icon">
          <i class="fa-solid fa-wine-glass"></i>
          <p>Bars</p>
        </div>
      <% end %>

      <%= link_to root_path(location_type: "beach") do %>
        <div class="icon">
          <i class="fa-solid fa-umbrella-beach"></i>
          <p>Beaches</p>
        </div>
      <% end %>

      <%= link_to root_path(location_type: "trail") do %>
        <div class="icon">
          <i class="fa-solid fa-person-hiking"></i>
          <p>Trails</p>
        </div>
      <% end %>

      <%= link_to root_path(location_type: "park") do %>
        <div class="icon">
          <i class="fa-solid fa-tree"></i>
          <p>Parks</p>
        </div>
      <% end %>
    </div>
  <% end %>
  </div>
</div>
