<div class="container">
  <h1>Bar's Best Friend</h1>
  <p>Never leave your furry family member home alone again!</p>
    <img class= "avatar-homepage" src="https://st2.depositphotos.com/1326558/6896/i/600/depositphotos_68966205-stock-photo-black-pug-dog.jpg" alt="pug" width="400" height="300">
  <h5>Find all your local dog-friendly places in one spot!</h5>
</div>
  <%= render 'searchbar' %>

<div class="container-icons">
  <div class="icon">
    <i class="fa-solid fa-wine-glass"></i>
    <p>bars</p>
  </div>
  <div class="icon">
    <i class="fa-solid fa-umbrella-beach"></i>
    <p>beaches</p>
  </div>
  <div class="icon">
    <i class="fa-solid fa-person-hiking"></i>
    <p>nature trails</p>
  </div>
  <div class="icon">
    <i class="fa-solid fa-tree"></i>
    <p>parks</p>
  </div>
</div>

<div class="container">
  <div class="card-trip">
    <% @establishments.each do |establishment| %>
      <div class="card-trip img">
        <img src="<%= establishment.image %>">
      </div>
      <%= link_to establishment_path(establishment) do %>
        <div class="card-product-infos">
          <h2> <%= establishment.name %> </h2>
          <p><em><%= establishment.location_type  %></em></p>
          <p><em><%= "⭐️" * establishment.rating if establishment.rating?  %></em></p>
        </div>
      <% end %>
    <% end %>
    </div>
</div>
