<div class="container">
  <h1><%= image_tag "bbf.png", class: "avatar-homepage" %></h1>
  <h5>Find all your local dog-friendly places in one spot!</h5>
  <h6>Never leave your furry family member home alone again!</h6>
</div>
  <%# <%= render 'searchbar' %>
<%= turbo_frame_tag 'turbo-list', data: { turbo_action: 'advance' } do %>
  <div class="container-icons">
    <%= link_to root_path(location_type: "cafe") do %>
      <div class="icon">
        <i class="fa-solid fa-mug-saucer"></i>
        <p>cafe</p>
      </div>
    <% end %>

    <%= link_to root_path(location_type: "bar") do %>
      <div class="icon">
        <i class="fa-solid fa-wine-glass"></i>
        <p>bars</p>
      </div>
    <% end %>

    <%= link_to root_path(location_type: "beach") do %>
      <div class="icon">
        <i class="fa-solid fa-umbrella-beach"></i>
        <p>beaches</p>
      </div>
    <% end %>

    <%= link_to root_path(location_type: "trail") do %>
      <div class="icon">
        <i class="fa-solid fa-person-hiking"></i>
        <p>trails</p>
      </div>
    <% end %>

    <%= link_to root_path(location_type: "park") do %>
      <div class="icon">
        <i class="fa-solid fa-tree"></i>
        <p>parks</p>
      </div>
    <% end %>
  </div>

  <div class='map-display-btn'>
    <div class="change-display">
      <%= link_to 'toggle map', toggle_map_path, class: 'small-btn' %>
    </div>
  </div>

  <% if session[:show_map] %>

    <div data-controller="map"
        id="map"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
        data-map-markers-value="<%= @markers.to_json %>"
        style="width: 100%; height: 400px;">
    </div>

  <% else %>

    <div class="container">
      <div class="row">
        <% @establishments.each do |establishment| %>
          <div class="col d-flex justify-content-center my-3">
            <%= link_to establishment_path(establishment) do %>
              <div class="card-trip ">
                <img src="<%= establishment.image %>">
                <div class="card-product-infos">
                  <div>
                    <h2> <%= establishment.name %> </h2>
                    <p><em><%= establishment.location_type  %></em></p>
                  </div>
                  <p><em><%= "⭐️" * establishment.rating if establishment.rating?  %></em></p>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

  <% end %>
<% end %>
