<h1><%= @establishment.name %></h1>
<div>
  <img src="<%= establishment.image %>">
  <p></p><%= @establishment.address %>
  <%= @establishment.phone %>
  <%= @establishment.type %>
</div>
<div>

</div>
