
<div class="container">
  <h1><%= @establishment.name %></h1>
  <div class="card img">
    <img src="<%= @establishment.image %>">
  </div>
    <div class="conatiner">
      <p><%= @establishment.address %></p>
      <p></p><%= @establishment.phone %>
      <p><em><%= @establishment.type %></em></p>
    </div>
  <div>

  </div>
</div>
<div class="container-icons"></div>
    <div class="icon">
      <i class="fa-solid fa-phone"></i>
      <p>Contact</p>
    </div>
    <div class="icon">
      <%= button_to "Return" , root_path, :class => "btn btn-secondary",  :method => :get %>
    </div>
    <div class="icon">
      <i class="fa-solid fa-location-arrow"></i>
      <p>Navigate</p>
    </div>
</div>
