<!DOCTYPE html>
<html>
  <head>
    <title>BarBestFriend</title>
    <%# Dont Awesome Icons %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/fe9435b3c6.js" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%# <%= javascript_include_tag "application", data: { "turbo-track": "reload" }, defer: true %>


    <%# Mapbox %>
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">

    <%# Search Function %>

    <script
      id="search-js"
      defer
      src="https://api.mapbox.com/search-js/v1.0.0-beta.14/web.js"
      data-turbo-track="reload"
      >
    </script>

    <script data-turbo-track="reload">
      const script = document.getElementById('search-js');
      script.onload = function() {
          mapboxsearch.autofill({
              accessToken: "<%= ENV['MAPBOX_API_KEY'] %>"
          });
      };
    </script>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
