<!DOCTYPE html>
<html>
  <head>
    <title>BarBestFriend</title>
    <%# Dont Awesome Icons %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/fe9435b3c6.js" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://cdn.tailwindcss.com" data-turbo-track=“reload”></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%# <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= javascript_include_tag "application", data: { "turbo-track": "reload" }, defer: true %>


    <%# Mapbox %>
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">

    <%# Search Function %>

    <script
      id="search-js"
      defer
      src="https://api.mapbox.com/search-js/v1.0.0-beta.14/web.js"
      data-turbo-track="reload"
      >
    </script>

    <script data-turbo-track="reload">
      const script = document.getElementById('search-js');
      script.onload = function() {
          mapboxsearch.autofill({
              accessToken: "<%= ENV['MAPBOX_API_KEY'] %>"
          });
      };
    </script>
  </head>

  <body>
  <%# <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#7E73FF" fill-opacity="1" d="M0,288L15,282.7C30,277,60,267,90,245.3C120,224,150,192,180,160C210,128,240,96,270,122.7C300,149,330,235,360,240C390,245,420,171,450,144C480,117,510,139,540,170.7C570,203,600,245,630,250.7C660,256,690,224,720,218.7C750,213,780,235,810,229.3C840,224,870,192,900,176C930,160,960,160,990,138.7C1020,117,1050,75,1080,80C1110,85,1140,139,1170,176C1200,213,1230,235,1260,245.3C1290,256,1320,256,1350,261.3C1380,267,1410,277,1425,282.7L1440,288L1440,0L1425,0C1410,0,1380,0,1350,0C1320,0,1290,0,1260,0C1230,0,1200,0,1170,0C1140,0,1110,0,1080,0C1050,0,1020,0,990,0C960,0,930,0,900,0C870,0,840,0,810,0C780,0,750,0,720,0C690,0,660,0,630,0C600,0,570,0,540,0C510,0,480,0,450,0C420,0,390,0,360,0C330,0,300,0,270,0C240,0,210,0,180,0C150,0,120,0,90,0C60,0,30,0,15,0L0,0Z"></path></svg> %>
    <div style='min-height: calc(100vh - 50px);
        display: flex;
        flex-direction: column;'>
      <%= render "shared/navbar" %>
      <%= render "shared/flashes" %>
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
